<md-content id="container" flex class="md-padding">
    <md-list flex layout-wrap layout="row" layout-sm="column" layout-align="space-around center">
        <md-list-item flex="50" flex-md="75" flex-sm="100" class="md-2-line" ng-repeat="item in events">
            <md-card>
                <!--<img src="" class="md-card-image" alt="image caption">-->
                <md-card-content>
                    <div style="display: inline-block;">
                        <h4>{{item.date}}</h4>
                    </div>
                    <div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <p>{{item.description | limitTo: 150}}...</p>
                </md-card-content>
                <md-card-footer>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </div>
                </md-card-footer>
            </md-card>
        </md-list-item>
    </md-list>
</md-content>
