<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Event title</h2>
    </div>
</md-toolbar>

<md-content layout-padding style="height: 600px;padding: 24px;">
    <pre>{{eventDetails | json}}</pre>

    <p>description</p>
    <div layout="row">
        <div flex>
            google map
        </div>
        <div flex>
            <ul>
                <span>Adress</span>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <md-button ui-sref="register" class="md-raised md-primary">Register</md-button>
        </div>
    </div>
</md-content>
