<md-dialog aria-label="Registration form">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register</h2>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">


                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div>

                <form>

                    <input ng-model="name" type="text" placeholder="Full Name" >

                    Email: <input ng-model="email" type="email" placeholder="Email" >

                    Repeat Email: <input ng-model="email2" type="text" placeholder="Repeat Email" >
                </form>

            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
            </md-button>
            <span flex></span>


            <md-button ng-click="closeDialog()" class="md-primary">
                Cancel
            </md-button>

            <md-button ng-click="submitRegistration()" class="md-primary">
                Register

            </md-button>
        </div>
    </form>
</md-dialog>