<div layout="column" style="background-color: lightseagreen" layout-align="center center">
<md-card flex class="md-padding">
    <!--<img src="" class="md-card-image" alt="image caption">-->
    <md-card-content flex="50" flex-md="75" flex-sm="100">

    <h1>Register</h1>

    <md-input-container class="md-icon-float" >
        <!-- Use floating label instead of placeholder -->
        <label>Name</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>
    <md-input-container >
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container >
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email-confirm" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>


    </md-card-content>
    </md-card>
</div>


